{% extends "::base.html.twig" %}
{% block  stylesheets %}
    <link href="{{asset('bundles/ProgPractico/css/estilo.css')}}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div id="cabecera">
        <img src="{{asset('bundles/ProgPractico/imagen/banner.jpg')}}"/>
        <h1>Informacion de los Alimentos</h1>
    </div>
    <div id="menu">
        <hr>
        <a href="{{ path('prog_practico_index')}}">Inicio</a> |
        <a href="{{ path('prog_practico_listar')}}">Ver Alimentos</a> |
        <a href="{{ path('prog_practico_insertar')}}">Insertar Alimento</a> |
        <a href="{{ path('prog_practico_buscar')}}">Buscar por Nombre</a> |
        <a href="#">Futuras Consultas....</a>
        <hr>
    </div>
    <div id="contenido">
        {% block contenido %}
        
        {% endblock %}
    </div>
    <div id="pie">
        <hr>
        <div align="center">-Cuide su Salud . Consultenos: (888)xxxxx-</div>
        <hr>
    </div>
{% endblock %}
